* URL              : <%= @url %>
<%- if @request -%>
* Parameters       : <%= filter_sensitive_post_data_parameters(@request.parameters).inspect %>
<%- end -%>
* Remote IP address: <%= @remote_address %>
* Rails root       : <%= @rails_root %>
* Rails env        : <%= RAILS_ENV %>
