The following error occurred in <%= @location %>:

Class:
<%= @error_class %> 

Message:
<%= @message %>

<%- if @backtrace -%>
First line of backtrace:
<%= @backtrace.first %>
<%- end -%>

<%= @sections.map { |section| render_section(section) }.join %>
